.mainHeading{
    font-weight: 700;
}



.form {
    
    background: white;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 600px;
    padding: 30px 50px;
  
}
.label {
    color: #3d3d3d;
    /* display: block; */
    font-family: sans-serif;
    
    /* font-weight: 500; */
   
  }
 
  .input {
    border: 1px solid #dedede;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
  }
  .submitButton {
    border: 1px solid #2e30a7;
    border-radius: 4px;
    background-color: #132294;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin: 20px 0px;
    padding: 1%;
  }